Source: adminbot
Section: net
Priority: extra
Maintainer: Ryan Lane <rlane@wikimedia.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3.1

Package: adminbot
Depends: python-irclib, python-mwclient
Recommends: python-twitter
Architecture: all
Description: Logging on command for IRC and Mediawiki Software
